@include border-box-sizing();

body {
    @include font(regular, $default-font-size, $default-font-weight);

    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    background: none;
    max-height: 100vh;
    color: $font-color;
    image-rendering: optimizeQuality;
}